.navbar-brand {
  margin-left: 20px;
}

.d-block {
  display: block;
  text-align: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.container {
  margin-top: 40px;
}
.jumbotron {
  margin-top: 40px;
}
.button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}
#search-bar {
  height: 35px;
  width: 800px;
  border-radius: 10px;
  outline: none;
}

#search-Btn {
  margin-left: 10px;
  border-radius: 10px;
}

#about_You:hover {
  background-blend-mode: bisque;
}
.playImg {
  height: 30%;
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30%;
  padding-top: 40px;
}

.form-group {
  justify-content: center;
  padding-top: 40px;
}

.col {
  margin: 30px 20px 30px 20px;
}
